<template>
    <img alt="Vue logo" id="header-img" src="../assets/Logo_orange.png">
</template>

<script>
    export default {
        name: "HeaderComp"
    }
</script>

<style scoped>
    #header-img
    {

        width:100%;
        align-items: center;
        justify-content: center;
    }
</style>