<template>
    <div id="section2_div">
        <p>images N shiet2</p>
    </div>
</template>

<script>
    export default {
        name: "Section2"
    }
</script>

<style scoped>
    #section2_div{
        display:block;
        height: 100vh;
    }
</style>