<template>
    <div id="section1_div">
        <p>images N shiet1</p>
    </div>

</template>

<script>
    export default {
        name: "Section1"
    }
</script>

<style scoped>
    #section1_div{
        display:block;
        height: 100vh;
    }

</style>