<template>
  <div id="app">
      <a href="#" @click="log($event)">Clique aqui</a>
      <HeaderComp />
    <HelloWorld msg="Welcome"/>
      <section1 />
      <section2 />

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from './components/HelloWorld.vue';
import HeaderComp from './components/HeaderComp.vue';
import Section1 from './components/Section1.vue';
import Section2 from './components/Section2.vue';

@Component({
  components: {
      HelloWorld: HelloWorld,
      HeaderComp: HeaderComp,
      Section1: Section1,
      Section2: Section2
  },
})

export default class App extends Vue {


}



</script>

<style>

{
    background-image: url("./assets/theater1.png");
    background-size: cover;
    background-position: center;
    background-color: black;

}



#app {
    margin: auto;
    width: 80%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: lightgrey;

    background-color: rgba(0,0,0,0.5);

}
</style>
